body {
  font-size: 24px;
  color: #333
  margin: 0;


}
.header-title,.header-subtitle{
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
}

.header-wrapper{
  height: 300px;
  padding: 20px;
  background-image: url("https://pixabay.com/static/uploads/photo/2014/04/07/14/46/leaf-318667_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header-wrapper header{
  margin-bottom: 40px;
}
.header-title__big {
  font-size:60px;
}
