html{
  background: url("CoolBlues.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,figcaption{
  text-align: center;
}
h1{
  color: #5C005C;
  font-family: Footlight MT Light
}
figcaption{
  font-family: Century Schoolbook;
}
main{
  margin-left: 270px;
}
